<section>
  <div class="container">
    <h2>About Me</h2>
    <div class="split">
      <div>
        <img src="https://via.placeholder.com/250" alt="Crystal R. Williams headshot" class="me">
      </div>
      <div>
        <p>As a Fullstack Developer I have the opportunity to develop web applications that are designed to be responsive (mobile first), user friendly, and beneficial to users. On the frontend I have experience with Angular 2+ and a minimal amount of React, however, I will be studying React in the near future. When it comes to backend development I have primarily worked with Nodejs, AWS and at my current position I've had the opportunity to learn terraform and a few other ci/cd tools.</p>

        <p>It is my desire to continue to learn and grow as a developer while supporting and working with other developers and assisting them in their development journey as well.</p>
      </div>
    </div>
    <div>
      <button>Resume</button>
    </div>
  </div>
</section>
