<section>
  <div class="container">
    <h2>Gallery</h2>
    <div class="project-wrapper">
      <div class="projects project1">
        <img class="projects__img" src="https://via.placeholder.com/250" alt="Link to Portfolio Project">
        <div class="projects__content">
          <h3 class="projects-title">Portfolio</h3>
          <div class="description">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit iure dolores pariatur natus accusamus, doloribus rem impedit doloremque repellat. Impedit explicabo vel cupiditate vero fugiat quod sed laudantium doloribus maxime!</p>
          </div>
          <div class="technologies">
            <ul>
              <li>Javascript</li>
            </ul>
          </div>
          <div class="links">
            <button>Github</button>
            <button>Website</button>
          </div>
        </div>
      </div>
      <div class="projects project2">
        <img class="projects__img" src="https://via.placeholder.com/250" alt="Link to Flash Cards Project">
        <div class="projects__content">
          <h3 class="projects-title">Flash Cards</h3>
          <div class="description">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error provident voluptate cupiditate praesentium aut eligendi dicta fuga quia fugiat dolorem quisquam molestias magni, quo illum optio. Fuga minima vero voluptate?</p>
          </div>
          <div class="technologies">
            <ul>
              <li class="">Angular</li>
              <li class="">Typescript</li>
              <li class="">Netlify</li>
            </ul>
          </div>
          <div class="links">
            <button>Github</button>
            <button>Website</button>
          </div>
        </div>
      </div>
      <div class="projects project3">
        <img class="projects__img" src="https://via.placeholder.com/250" alt="Link to Flash Cards Project">
        <div class="projects__content">
          <h3 class="projects-title">Flash Cards</h3>
          <div class="description">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum iste officiis ullam beatae quas ut animi perspiciatis esse eaque vero sit itaque facilis dolore corrupti, consequatur recusandae nobis inventore excepturi!</p>
          </div>
          <div class="technologies">
            <ul>
              <li>Javascript</li>
            </ul>
          </div>
          <div class="links">
            <button>Github</button>
            <button>Website</button>
          </div>
        </div>
      </div>
      <div class="projects project4">
        <img class="projects__img" src="https://via.placeholder.com/250" alt="Link to Flash Cards Project">
        <div class="projects__content">
          <h3 class="projects-title">Flash Cards</h3>
          <div class="description">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error provident voluptate cupiditate praesentium aut eligendi dicta fuga quia fugiat dolorem quisquam molestias magni, quo illum optio. Fuga minima vero voluptate?</p>
          </div>
          <div class="technologies">
            <ul>
              <li class="">Angular</li>
              <li class="">Typescript</li>
              <li class="">Netlify</li>
            </ul>
          </div>
          <div class="links">
            <button>Github</button>
            <button>Website</button>
          </div>
        </div>
      </div>
      <div class="projects project5">
        <img class="projects__img" src="https://via.placeholder.com/250" alt="Link to Flash Cards Project">
        <div class="projects__content">
          <h3 class="projects-title">Flash Cards</h3>
          <div class="description">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error provident voluptate cupiditate praesentium aut eligendi dicta fuga quia fugiat dolorem quisquam molestias magni, quo illum optio. Fuga minima vero voluptate?</p>
          </div>
          <div class="technologies">
            <ul>
              <li class="">Angular</li>
              <li class="">Typescript</li>
              <li class="">Netlify</li>
            </ul>
          </div>
          <div class="links">
            <button>Github</button>
            <button>Website</button>
          </div>
        </div>
      </div>
      <div class="projects project6">
        <img class="projects__img" src="https://via.placeholder.com/250" alt="Link to Flash Cards Project">
        <div class="projects__content">
          <h3 class="projects-title">Flash Cards</h3>
          <div class="description">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error provident voluptate cupiditate praesentium aut eligendi dicta fuga quia fugiat dolorem quisquam molestias magni, quo illum optio. Fuga minima vero voluptate?</p>
          </div>
          <div class="technologies">
            <ul>
              <li class="">Angular</li>
              <li class="">Typescript</li>
              <li class="">Netlify</li>
            </ul>
          </div>
          <div class="links">
            <button>Github</button>
            <button>Website</button>
          </div>
        </div>
      </div>
      <div class="projects project7">
        <img class="projects__img" src="https://via.placeholder.com/250" alt="Link to Flash Cards Project">
        <div class="projects__content">
          <h3 class="projects-title">Flash Cards</h3>
          <div class="description">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error provident voluptate cupiditate praesentium aut eligendi dicta fuga quia fugiat dolorem quisquam molestias magni, quo illum optio. Fuga minima vero voluptate?</p>
          </div>
          <div class="technologies">
            <ul>
              <li class="">Angular</li>
              <li class="">Typescript</li>
              <li class="">Netlify</li>
            </ul>
          </div>
          <div class="links">
            <button>Github</button>
            <button>Website</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

